@model ClassLibrary1.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>AddHeading</h2>

@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Heading Name")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br /><br />
        @Html.Label("Category ID")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryID)
        <br /><br />
        @Html.Label("Writer ID")
        @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterID)
        <br /><br />
        <button>Save</button>
    </div>
}