@model ClassLibrary1.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>EditCategory</h2>

@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Category ID")
        @Html.TextBoxFor(x => x.CategoryID)
        @Html.ValidationMessageFor(x => x.CategoryID)
        <br /><br />
        @Html.Label("Category Name")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /><br />
        @Html.Label("Category Description")
        @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br /><br />
        <button>Save</button>
    </div>
}